// colors

$font-background-color: hsl(179, 62%, 43%);
$font-background-color-alter: hsl(71, 73%, 54%);
$background-color-alter-two: hsl(179, 47%, 52%);
$font-color-alter: hsl(204, 43%, 93%);
$font-color-alter-two: hsl(218, 22%, 67%);
$hover: hsl(71, 63%, 40%);