@import "./variables";
@import "./mixins";

/* ----- General Styles ----- */
body {
    @include display-flex(column, center, center);
    background-color: $font-color-alter;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding: 1rem;
    max-width: 1440px;
}

section {
    padding: 1.5rem;
}

.card {
    @include display-grid(20.375rem,(repeat(3,1fr)));
}

/* ----- Section: Intro ----- */

.intro {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #fff;
    border-radius: 10px 10px 0 0;

    .intro__title {
        color: $font-background-color;
        font-size: 1.45rem;
    }

    .intro__subtitle {
        font-size: 1.09rem;
        font-weight: 700;
        color: $font-background-color-alter;
    }

    .intro__paragraph {
        color: $font-color-alter-two;
        line-height: 1.5;
    }

}

/* ----- Section: Subscription */

.subscription {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: $font-background-color;
    padding-bottom: 0;

    .subscription__title {
        color: $font-color-alter;
        font-size: 1.35rem;
        
    }

    .subscription__price {
        color: #fff;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: start;
        font-size: 2.5rem;
        font-weight: 700;

        .price__month {
            color: $font-color-alter;
            margin: 0 0 0 0.9rem;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }

    .subscription__text {
        color: $font-color-alter;
        display: block;
        font-size: 1.15rem;
        margin: 0.5rem 0 0 0;
    }

    .subscription__button {
        box-shadow: 0px 10px 23px -15px #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        background-color: $font-background-color-alter;
        margin: 2rem 0 0 0;
        width: 17.375rem;
        height: 3.5rem;
    }

    .subscription__button:hover {
        background-color: $hover;
    }
}

/* ----- Section: Why ----- */

.why {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: $background-color-alter-two;
    border-radius: 0 0 10px 10px;
    
    .why__title {
        color: #fff;
    }

    .why__paragraph {
        color: $font-color-alter;
        line-height: 1.5;
    }
}

/* ----- Footer ----- */

footer {
    text-align: center;
}

/* ----- Medias ----- */

@media (min-width: 768px) {

    /* ----- General Styles ----- */

    body {
        height: 100vh;
    }

    .card {
        grid-template-columns: repeat(2, 23.6rem);
        grid-template-rows: 16rem 18rem;
    }

    section {
        padding: 2rem 3rem;
    }

    /*  ----- Intro ----- */

    .intro {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        border-radius: 10px 10px 0 0;

        .intro__title {
            margin-top: 0.95rem;
            font-size: 1.9rem;
        }

        .intro__subtitle {
            font-size: 1.43rem;
        }

        .intro__paragraph {
            font-size: 1.25rem;
        }
    }

    /* ----- Subscription ----- */

    .subscription {
        @include display-flex(column,flex-start,center);
        border-radius: 0 0 0 10px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-bottom: 2rem;
        
        .subscription__title {
            text-align: start;
        }
    }

    /* ----- Why ----- */

    .why {
        border-radius: 0 0 10px 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        .why__title {
            font-size: 1.35rem;
        }

        .why__paragraph {
            font-size: 0.99rem;
            margin-top: 0;
        }
    }
}